* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 229, 251);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: rgb(247, 229, 251);
}

.login{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow: hidden;
}

.login-img{
  margin: 0;
  padding: 0;
  border-radius: 25px;
  overflow: hidden;
}

.login-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.title {
  color: rgb(169, 67, 187);
}

#logIn {
  color: rgb(169, 67, 187);
  width: 100%;
  max-width: 350px;
}


#logIn label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 18px;
}

#logIn input {
  display: block;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(169, 67, 187);
  max-width: 350px;
  min-width: 280px;
  background-color: white;
}

#logIn button {
  display: flex;
  margin: 30px auto;
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid rgb(169, 67, 187);
  border-radius: 10px;
  color: rgb(169, 67, 187);
  cursor: pointer;
  font-size: 17px;
  outline: none;
}

#logIn button:hover {
  background-color: rgb(169, 67, 187);
  color: white;
  transform: scale(1.1);
}

.emailError,
.passwordError {
  color: red;
  font-size: 14px;
}

.signin {
  display: flex;
  color: rgb(169, 67, 187);
}

.signin span {
  text-decoration: none;
  color: rgb(169, 67, 187);
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 950px) {
  .login{
    flex-direction: column;
  }
  .login-img {
    display: none;
  }
}
